<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3">
           
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">TITLE</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    looks good!!   
           </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">LOCATION</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    looks good!!   
           </div>
            </div>
            
          <!-- <input type="file" name="image" id="image" multiple>-->
            <!-- <div class="mb-3">
            <label class="form-label" for="image">IMAGE URL</label>
            <input class="form-control" type="text" id="image" name="campground[image]" required>
             <div class="valid-feedback">
                 looks good!!   
        </div>
        </div> -->
            <div class="mb-3">
              <label class="form-label" for="price">Campground Price</label>
              <div class="input-group">
                  <span class="input-group-text" id="price-label">$</span>
                  <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" required>
                  </div>  
                  <div class="valid-feedback">
                    looks good!!   
           </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">DESCRIPTION</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"></textarea>
                <div class="valid-feedback">
                    looks good!!   
           </div>    
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="image" name="image" multiple>
                <label class="input-group-text" for="image">Upload</label>
              </div>
            <div class="mb-3">
            <button class="btn btn-success">add campground</button>
            </div>
            </form>
            <a href="/campgrounds">all campgrounds</a>  
            </div> 
    </div>
    
   